<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- ... other settings ... -->
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?$" />
        </rule>
        
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <iisnode>
      <environmentVariables>
        <environmentVariable name="NODE_ENV" value="development" />
        <!-- Or ASPNETCORE_ENVIRONMENT if you are using Express via a certain setup -->
      </environmentVariables>
    </iisnode>
  </system.webServer>
</configuration>




